.game_end {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--title {
    margin-top: 0;
  }

  &--ul {
    list-style: none;
    font-size: 14px;
    line-height: 100%;

    li {
      display: flex;
      align-items: center;
    }
  }

  &--li-lose {
    svg {
      color: red;
    }
  }

  &--li-win {
    svg {
      color: green;
    }
  }
}
