.cell {
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  &--reveal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 90, 90);
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }

  %shared_tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border: 4px;
    border-style: outset;
  }

  &--btn {
    @extend %shared_tile;
    
    &:hover,
    &-highlighted {
      background-color: rgba(255, 255, 255, 0.6);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(85, 85, 85, 0.6);
    }
  }

  &--flag {
    @extend %shared_tile;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
}
