$settings_item_bg-hover: #e5e5e5;
$modal_window_bg: #fff;
$modal_window_shadow: #3c3c3c;
$modal_bg: #000000;
$record-win: #008000;
$record-lose: #ff0000;
$cell_reveal: #000000;
$cell_reveal_bg: #ced5df;
$cell_till_bg: #d6d6d6;
$cell_flag: #dc0000;
$cell_btn-hover: #eeeeee;
$cell_btn-active: #999999;
$cell_1: #005f9d;
$cell_2: #00650d;
$cell_3: #b1002a;
$cell_4: #1500d7;
$cell_5: #b32000;
$cell_6: #006661;
$cell_7: #a200a8;
$cell_8: #a63100;
